div.a {
    width: auto;
    border: 1px solid black;
    margin: 100px;
    border: 1px solid red; 
    padding: 20px;
    height: 150px;
    
    position:absolute ;
    letter-spacing: 2x ;
    initial-letter-align: 3px;
    list-style-type: decimal-leading-zero;
    font-display: 10 px ;
    border-left-style: dashed;

  left: 50px;
  top: 150px;





  }

  p {color: red;}

p.ex1 {display: none;}
p.ex2 {display: inline;}
p.ex3 {display: block;}
p.ex4 {display: inline-block;}

body  {
    background-image: url("tree.gif");
    background-color: #cccccc;
  }
  </style>
  </head>
  <body>