* {
    font-size: 12px;
}

p {
    border: 3px solid black;
}

p.borde-bajo {
    border-bottom: 3px solid blue;
}

#uno {
    border-bottom: 3px solid blue;
}

#uno {
    font-size: 11px;
}

.capital {
    background-color: burlywood;
}

p.capital {
    font-size: 20px;
}

.cundinamarca {
    font-family: 'Liu Jian Mao Cao', cursive;
}

[data-vitaminas] {
    font-size: 3em;
}

[href="vitaminaC"] {
    color: green;
}

[href$="fb.com"] {
    border: 3px solid grey;
}

[href^="https://"] {
    border: 3px solid green;
}

[href="a"] {
    background-color: chocolate;
}

[class*="vitaminaC"] {
    text-shadow: -2px -2px 3px gray;
}


/* # {
    display: flex;
    flex-direction: row-reverse
} */

#bogota {
    order: 1;
    flex-grow: 2;
 }

 #medellin { 
     order: 5
 }
#manizales {
    order: 4;
}

#choachi {
    order: 3;
}
#caqueza {
    order: 2
}
#container-cities {
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    align-content: space-evenly;
    justify-content: space-evenly;
}
#colors {
    flex-grow: 1;
}

#caqueza {
    width: 70%;
}

#bogota,
#medellin,
#manizales,
#caqueza,
#choachi {}

#left,
#right {
    float: left;
    width: 50%;
}

#flotantes {
    float: left;
}


/* <a> elements whose class attribute contains the word "logo" 

asdfgasj kfaskjdfjad
rtadsfa 
fgafd

*/

[data-price="1500"][data-properties~="vitaminaC"] {
    font-size: 70px;
}

[data-price="1500"].selected,
[data-properties~="vitaminaA"] {
    color: red;
}