body
{background-color: greenyellow;

}



.anormal::after {
    content: " <- anormal"; 
    color: rgb(240, 76, 35);
    font-size: x-large;
  }
  
  .normal::after {
    content: " <- normal";
    color: rgb(8, 75, 23);
  }

  .CAJA{
    background-color: #5BC8F7;
  }
  
  .CAJA::before {
    content: "ESTA CAJA ESTA ANTES";
    background-color: #FFBA10;
    border-color: black;
    border-style: dotted;
  }


  button:hover {
    color: blue;
    background-color: khaki;
  }

  .BOTON3:hover
  {color: indigo;}

  li:nth-child(2) { 
    color: rgb(240, 78, 28);
    font-family: 'Lucida Sans';
    font-size: x-large;
}




a:link { color: blue; }          /* Unvisited links */

a:hover { background: yellow; }  


a:visited {
    background-color: yellow;
    border-color: rgb(14, 13, 13);
    color: rgb(245, 76, 24);
  }


  .red-input:focus {
    background: white;
    color: red;
  }
  
  .blue-input:focus {
    background: white;
    color: blue;
  }